@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,400;1,200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,800&family=Poppins:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 14px;
  }

  @screen sm {
    html {
      font-size: 15px;
    }
  }
  @screen md {
    html {
      font-size: 16px;
    }
  }
  a {
    text-decoration: none;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  /* HEADER */
  .header {
    @apply h-14 xs:h-[60px] md:h-18 w-full top-0 left-0 z-10 flex justify-center border-borderColor;
  }

  .customer {
    @apply md:ml-3 lg:ml-6 cursor-pointer flex-col items-center justify-end transition-all ease-in duration-150 top-0  
    pb-2 md:p-0 md:justify-center box-border fixed md:static md:z-0 w-full md:w-auto border-b border-borderColor md:border-none -z-10 left-0 bg-white;
  }

  .form {
    @apply w-full xs:w-11/12 sm:w-2/3 md:w-full lg:w-2/3 h-8 xs:h-9 md:h-10 rounded-3xl flex items-center justify-evenly px-1 xs:px-2;
  }



  /* RESTAURANTS */
  .rest-card {
    @apply relative cursor-pointer rounded-lg shadow-md h-[310px] sm:h-[250px] md:h-[320px]
    xl:h-[330px] flex flex-col justify-between overflow-hidden transition-all ease-in duration-200 hover:scale-[1.03];
  }

  /* FOOTER */
  .title {
    @apply text-white md:text-sixthColor flex justify-between items-center font-semibold;
  }
}
